<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>ネガポジスライサー</title>
    <script src="vue-2.5.16.min.js"></script>
    <style>canvas, img { max-width: 100%; max-height: 400px; }</style>
  </head>

  <body>
    <div id="app">
      <header>
        <h1>ネガポジスライサー</h1>
        <p>画像を明度でスライスします。アート基板のフットプリント生成などに。</p>
      </header>

      <hr />

      <section>
        <h2>元画像</h2>
        <p><input type="file" :disabled="status == STATUSES.LOADING" @change="onFileChange" /></p>
        <p>※ 巨大な画像は処理が重くなります</p>
        <p>※ 画像がアップロードされることはありません</p>
        <img v-if="source.blobUrl" :src="source.blobUrl" />
      </section>

      <section>
        <h2>スライス１ <small>右クリックで保存</small></h2>
        <canvas ref="canvas1"></canvas>
        <div v-for="(range, ix) in slice1">
          <button v-if="ix > 0" @click="deleteRange1(ix)">x</button>
          <label>透明を含む: <input type="checkbox" :disabled="range[1] != 0" v-model="range[0]" /></label>
          /
          <label>from:</label> <input type="range" :disabled="range[0]" step="0.01" min="0" max="1.02" v-model="range[1]" /> {{ range[1] == 1.02 ? "MAX" : range[1] }}
          /
          <label>to:</label> <input type="range" step="0.01" min="0" max="1.02" v-model="range[2]" /> {{ range[2] == 1.02 ? "MAX" : range[2] }}
        </div>
        <button @click="addRange1">+ 範囲を追加</button>
      </section>

      <section>
        <h2>スライス２ <small>右クリックで保存</small></h2>
        <canvas ref="canvas2"></canvas>
        <div v-for="(range, ix) in slice2">
          <button v-if="ix > 0" @click="deleteRange2(ix)">x</button>
          <label>透明を含む: <input type="checkbox" :disabled="range[1] != 0" v-model="range[0]" /></label>
          /
          <label>from:</label> <input type="range" :disabled="range[0]" step="0.01" min="0" max="1" v-model="range[1]" /> {{ range[1] == 1.02 ? "MAX" : range[1] }}
          /
          <label>to:</label> <input type="range" step="0.01" min="0" max="1.02" v-model="range[2]" /> {{ range[2] == 1.02 ? "MAX" : range[2] }}
        </div>
        <button @click="addRange2">+ 範囲を追加</button>
      </section>

      <hr />

      <footer>(C) @zk-phi</footer>

    </div>
    <script src="slicer.js"></script>
  </body>
</html>
